body{    text-align: center; background-color: rgba(69, 143, 212, 0.829); 

}
.imagem-dois{
    margin: auto 200px; size: 10px;
}
.titulo-historia{text-align: center

}
.Cultura{text-align: center

}
.Copyright{
    text-align: center;
}